* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #1f1f1f;
    color: white;
    display: flex;

}

header span {
    padding: 0.8em;
    margin: 0 0.2em;
    background-color: teal;
    cursor: pointer;
    transition: all 0.6s;
}

header span:hover {
    background-color: rgb(112, 192, 192);
    color: black;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
}

.movie {
    cursor: pointer;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 11.5625em;
}

.movieDetailed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10em 3em;
    text-align: justify;
    line-height: 2.0em;
    width: 100vw;
}

.movieCredits {
    display: flex;
    flex-wrap: wrap;
}

.cast {
    padding: 0.5em;
    text-align: center;

}